// Base colors
$color-white: rgba(248, 248, 248, 1);
$color-gray: rgba(235, 235, 235, 1);
$color-black: rgba(35, 31, 32, 1);
$color-blue-black: rgba(0, 57, 56, 1);

$color-pink-red: #B9325A;
$color-red: #FF6B6A;
$color-orange: #FFBC00;
$color-green: #EAF26E;

// shades & effects
$color-black-see-through: rgba(35, 31, 32, 0.4);
$color-white-see-through: rgba(242, 242, 242, 0.4);
$color-white-transparent: rgba(242, 242, 242, 0);
$color-black-transparent: rgba(35, 31, 32, 0);

