@import './animations';
@import './colors';
@import './animations';

html, body {
  line-height: 140%;
}

a {
  font-weight: 500;
  @include transition;
}

h1 {
  font-size: 25px;
  color: $color-red;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 12px;
}

h2 {
  font-size: 17px;
  color: $color-pink-red;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 7px;

}

h3 {
  font-size: 20px;
  font-weight: 700;
}

p {
  margin: 0 0 10px;
}
