---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Import global variables
@import 'fontFaces';
@import 'fontOverrides';
@import 'colors';
@import 'animations';

// Override bulma variables
$family-sans-serif: $font-family-roboto;
$body-background-color: $color-white;

$footer-background-color: $color-black;
$footer-color: $color-white;

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

@import 'page';
