<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0071bc">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/assets/css/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Bänkås 2021</title>
</head>
<body>
  <section class="header-hero">
    <div class="container">
      <img src="/assets/images/logo.png" alt="">
    </div>
  </section>

  <div class="container intro">
    <div class="columns">
      <div class="column intro-left">
        <div class="section">
          <h2 class="title is-4">Insidan ut</h2>
          <p>
            Årets tema är Insidan ut, och kommer att handla om – just det – vår
            insida, våra värderingar och attityder. Vi tar avstamp i att Jesus
            vänder upp och ner på vårt sätt att se och tänka och säger att i
            Hans rike är allting tvärt emot.
            Jesus visade på ett annorlunda sätt att vara, som utmanar oss att
            tänka om.
          </p>
          <br>
          <p>
            Under lägret kommer vi att vända upp och ner på det mesta, med
            bakvända tävlingar, annorlunda pyssel och spännande spårningar.
            Vi blandar lek, lägerbål, bad, sport och friluftsliv,
            med att samtala om hur vi är och vad som egentligen är viktigt.
            På lägret får vi varje dag gå på teater, sjunga och be.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="section">
          <div class="intro-pic"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bible-quote">
    <div class="section is-small">
      <h3 class="title is-5">”Då skall sådana som är sist bli först, och sådana som är först skall bli sist.”</h3>
      <p>Lukas 13:30 </p>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="first-big-pic big-pic"></div>
    </div>
  </div>

  <div class="container camp-info">
    <div class="columns">
      <div class="column">
        <div class="section">
          <h2 class="title is-4">Lägerinfo</h2>

          <h3 class="question">För vem?</h3>
          Lägret är för dig som nu går i klass 1-6. (Född mellan 2008-2013)

          <h3 class="question">Anmälan?</h3>
          Anmälan öppnar söndag 23 maj. Antalet platser är begränsat till 50 så skynda dig. Sista dag för anmälan är 31 maj.

          <h3 class="question">När?</h3>
          Lägret börjar onsdagen den 30 juni slutar lördagen den 3 juli <br>
          Onsdag, torsdag 9:00-18:00 <br>
          Fredag 9:00 - 22:00 <br>
          Lördag 10:00 - 15:30 <br>
          Buss avgår från Härnösand och plockar upp barnen efter vägen.
        </div>
      </div>
      <div class="column">
        <div class="section">
          <h3 class="question">Var?</h3>
          Lägret hålls på <a href="https://goo.gl/maps/ErBisPybVmgvLn9x8" target="_blank">Bänkåsvikens sommargård</a> vid havet på södra Alnö utanför Sundsvall.

          <h3 class="question">Tänk på!</h3>
          Tänk på att vi är ute hela lägret, så regnkläder, stövlar och varma kläder behövs. Packlista fås innan lägret.

          <h3 class="question">Kostnad?</h3>
          900 kr/deltagare. (inklusive tröja och busstransport). Info om betalning får du tillsammans med välkomstbrevet veckan innan midsommar.
        </div>
      </div>
    </div>
  </div>

  <div class="container covid-info">
    <div class="columns">
      <div class="column">
        <div class="section">
          <div class="covid-side-pic"></div>
        </div>
      </div>
      <div class="column covid-right-text">
        <div class="section">
          <h2 class="title is-4">Viktig reservation</h2>
          <p>
          Då läget är som det är med Coronautbrottet, så öppnar vi anmälan med reservation för hur läget i regionen utvecklas. Vi följer Folkhälsomyndighetens riktlinjer när det gäller Covid-19, och kommer bara att hålla lägret om det är tillåtet i vår region vid tidpunkten för lägret.
          Åtgärder mot smittspridning
          <ul>
            <li>Vi övernattar hemma – det blir dagläger även i år</li>
            <li>Vi tar endast emot barn och ledare från Västernorrland</li>
            <li>Vi minskar på antalet barn och ledare</li>
            <li>Barnen diskar inte själva</li>
            <li>Vi är ute den mesta tiden</li>
            <li>Vi planerar aktiviteter för att slippa trängsel och närkontakt</li>
            <li>Vi är noga med städ och hygien</li>
            <li>Säljer bara godis med papper på</li>
            <li>Självklart stannar vi hemma vid minsta symptom</li>
            <li>Inga föräldrar eller gäster tillåts på lägerområdet</li>
            <li>Ingen gemensam lägeravslutning med familjer</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="second-big-pic big-pic"></div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="section">
          <h2 class="title is-4">Regler</h2>
          När vi är så många tillsammans är det viktigt att vi hjälps åt för att göra lägret till en trygg och rolig plats för alla. Förutom att alltid vara en god kompis i alla lägen, har vi några regler:

          <ul>
            <li>Vi kommer i god tid och deltar i samlingar och aktiviteter.</li>
            <li>Vi har kul på lägret och ser till att alla trivs.</li>
            <li>Vi håller oss inom lägerområdet.</li>
            <li>Vi använder inga mobiler på lägret.</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="section">
          <ul>
            <li>Vi har en vuxen med oss när vi går till bäcken eller fotbollsplanen.</li>
            <li>Vi går och badar med vår gruppledare och använder armpuffar om vi inte kan simma.</li>
            <li>Vi badar i sällskap med vår gruppledare och går inte ut djupare än till magen</li>
            <li>Eftersom vi är på lägret för att vara tillsammans i naturen, lämnar vi dataspel, leksaker mm hemma. Du får handla för max 30 kronor (kontant) i kiosken varje dag. </li>
            <li>Skräpet slänger vi i soptunnorna.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container last-info">
    <div class="columns">
      <div class="column">
        <div class="section">
          <h2 class="title is-4">Frågor och information</h2>
          lagerledningen@gmail.com

          <h3 class="title is-6">Arrangörer</h3>
          Föreningen Bänkåsvikens framtid i samarbete med Brunnskyrkan Härnösand, Ljustorps baptistförsamling, Elimkyrkan och Hagakyrkan i Sundsvall, Bethel Stöde, Filadelfia Stigsjö samt Studieförbundet Bilda.
          <br>
          <br>
          <a href="https://www.bilda.nu/" target="_blank">
            <img src="/assets/images/bilda.png" alt="" width="100">
          </a>
          <br>
          <br>
          <h3 class="title is-6">Vill du hjälpa till?</h3>
          Hör av dig om du kan hjälpa till praktiskt under lägret med mat, disk, städning, handling, tältresning mm. Du behövs!
        </div>
      </div>
      <div class="column">
        <div class="section">
          <div class="last-info-pic"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-holder"></div>

  <div class="sign-up-button">
    {% if site.sign_up.link %}
      <a class="sign-up-link" href="{{ site.sign_up.link }}" target="_blank">Anmäl dig här</a>
    {% else %}
      <span class="sign-up-link">{{ site.sign_up.excuse_text }}</span>
    {% endif %}
  </div>
</body>
</html>
